<div class="top-bar">
    <a href="index.html"><img src="Resources/Logo.jpg" alt="Home" class="logo-icon"></a>
    <div class="menu-icon" id="menu-icon">
      <img src="Resources\Clawths.png" alt="Menu" onclick="toggleDropdown()">
    </div>
    <div class="dropdown-menu" id="dropdown-menu">
      <ul>
        <li><a href="Products/products.html">Products</a></li>
        <li><a href="Contact/contact.html">Contact us</a></li>
        <li><a href="About/about.html">About <img src="Resources/Clawths.png"></a></li>
      </ul>
    </div>
  </div>
  <script src="../Scripts/dropDownMenu.js"></script>